.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  padding: 20px;
}

.main-content {
  width: 100%;
  max-width: 1600px;
}

.card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

h4.form-container {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

/* General container for form elements */
.form-container {
display: flex;
flex-direction: column;
width: 1000px;
margin: 0;                  /* Remove all margins */
padding: 50;                 /* Remove padding */
box-sizing: border-box;      /* Include padding/border in width calculation */
}

/* Form styling */
form {
display: grid;
gap: 15px;
width: 100%;                /* Full width of the form */
margin: 0;                  /* Remove margins */
padding: 0;                 /* Remove padding */
}

/* Styling for labels */
label {
font-size: 1rem;
color: #555;
text-align: left;
width: 100%;
margin: 0;                  /* Remove any margins */
}

